.card {
    margin: 5%;
    background-color: #4c8b76;
}
.tag {
    margin-top: 1.5%;
    margin-left: 10%;
    width: 80%;
    background-color: #92a56f;
}
.body{
    background-color: rgb(180, 180, 180);
}